body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(images/cielo.webp) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.welcome-container {
    display: table-row;
    align-items: center;
    justify-content: space-between;
    background: #f8bbde;
    border-radius: 12rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 2.5rem 2rem;
    margin: 6.5rem auto 2rem auto;
    max-width: 751px;
    min-height: 588px;
    border: 5px double #d2529b;
}
.cont {
    display: ruby;
    align-items: center;
    justify-content: space-between;
    background: #ff7fc7;
    border-radius: 12rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 2.5rem 2rem;
    margin: 6.5rem auto 2rem auto;
    max-width: 761px;
    min-height: 538px;
    border: 5px double #ddd3d9;

}

.welcome-text {
    flex: 1 1 60%;
    padding-right: 2rem;
}
.welcome-text h2 {
    font-size: 2rem;
    color: #3a3a3a;
    margin-bottom: 0.7rem;
}
.welcome-text p {
    font-size: 1.15rem;
    color: #555;
}

.welcome-image {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-placeholder {
    width: 275px;
    height: 275px;
    background-image: url(images/mammon.gif);
    background-size: contain;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 1.1rem;
    font-style: italic;
    

}
.btn {
    background-color: #f47cc2;
    border: none;
   cursor: pointer!important; 
   border-radius: 5px;
   display: inline-block;
   margin: 150px;
   font-size: 20px !important;
   vertical-align: bottom!important;
   justify-content: center;
   background-size: contain;
   position: absolute;
      top: 499px;
      right:530px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:active {
        transform: scale(0.98); /* Reduce ligeramente el botón al hacer clic */
}
.btn:hover {
        background-color: #d2529b; /* Color de fondo al pasar el ratón */
    }
    
.hearts {
    position: absolute;
    top: 20%;
    left: 10% 25% 60%;
    z-index: -1;
    font-size: 50px;
    color: #ff99b6;
    animation: floathearts 5s ease-in-out infinite;
}
@keyframes floathearts {
    0% { transform: translateY(0) scale(1); opacity: 1;}
    50% { transform: translateY(-150px) scale(1.5); opacity: 0.5;}
    0% { transform: translateY(0) scale(1); opacity: 1;}
}

.hearts:nth-child(2) {left: 25%; animation-duration: 6s;}
.hearts:nth-child(3) {left: 40%; animation-duration: 7s;}
.hearts:nth-child(4) {left: 60%; animation-duration: 8s;}
.hearts:nth-child(5) {left: 75%; animation-duration: 9s;}

.flowers {
    position: absolute;
    bottom: 10px;
    animation: FlowerAnimations 5s ease-in-out infinite;
    font-size: 30px;
}

@keyframes FlowerAnimations {
    0% {transform: translateY(0); opacity: 0;}
    50% {transform: translateY(-50px); opacity: 1;}
    100% {transform: translateY(0); opacity: 0;}
}

.flowers:nth-child(1) {left: 10%; animation-duration: 6s;}
.flowers:nth-child(2) {left: 30%; animation-duration: 7s;}
.flowers:nth-child(3) {left: 50%; animation-duration: 8s;}
.flowers:nth-child(4) {left: 60%; animation-duration: 9s;}
.flowers:nth-child(5) {left: 70%; animation-duration: 10s;}

.bubbles {
    position: absolute;
    bottom: 10px;
    font-size: 25px;
    color: #ff99b6;
    animation: bubbleAnimacion 7s ease-in-out infinite;
}

@keyframes bubbleAnimacion {
    0% {transform: translateY(0); scale: 1; opacity: 0.8;}
    50% {transform: translateY(-100px); scale: 1.3; opacity: 0.4;}
    100% {transform: translateY(0); scale: 1; opacity: 0.8;}
}

.bubbles:nth-child(1) { left: 10%; animation-duration: 8s;}
.bubbles:nth-child(2) { left: 30%; animation-duration: 9s;}
.bubbles:nth-child(3) { left: 50%; animation-duration: 10s;}
.bubbles:nth-child(4) { left: 70%; animation-duration: 11s;}
.bubbles:nth-child(5) { left: 90%; animation-duration: 12s;}

@media (max-width: 768px) {
    body {
        background-size: 100% 100%;
        background-position: center top;
    }

    .message {font-size: 24px; padding: 20px;}
    .charming-text {font-size: 16px; padding: 8px 6px;}
    .flowers {font-size: 25px;}
    .bubbles {font-size: 20px;}
}